.login{
    display: flex;
    height: 30%;
}

.function{
    display: flex;
    text-align: center;
}

.btn-study{
    display: block;
    margin: 0 auto;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
}